.container{
  display: inline-block;
  padding: 2%;
  height: 480px;
  width: 480px;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.fill {
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer; }

.hold {
  background-color: antiquewhite;
}
#container{
  padding: 10%;
}
.empty {
  float: left;
  height: 150px;
  width: 150px;
  background: beige;
  border: 1px solid 	#eedfcc;
  margin: 0;
}
.hovered {
  background: #f4f4f4;
  border-style: dashed; }
img{
  width: 150px;
}
.clearfix:after{
  display: block;
  content: "";
  clear: both;
}
#container{
  display: none;
}
